.main-box{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 8px;
}
.main-title{
    text-align: center;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c50d0d;
}
.main-info{
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}